.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-field {
  position: relative;
  font-size: 14px;
  /* min-width: 300px; */
  /* border-top: 20px solid transparent; */
  /* margin-bottom: 5px; */
  --field-padding: 12px;
}

.custom-select {
  position: relative;
  font-size: 13px;
  min-width: 300px;
  /* border-top: 20px solid transparent; */
  /* margin-bottom: 5px; */
  --field-padding: 12px;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  padding-bottom: var(--field-padding) - 6;
  border-radius: 3px;
  width: 100%;
  outline: none;
  font-size: 14px;
  min-height: 60px;
}

.custom-field .placeholder {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  top: 28px;
  line-height: 100%;
  transform: translateY(-50%);
  color: #aaa;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-select .placeholder {
  position: absolute;
  left: 18px;
  /* left: var(--field-padding); */
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  top: -24px;
  line-height: 100%;
  /* transform: translateY(-50%); */
  color: #74777F;
  transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
  top: 14px;
  font-size: 10px;
  /* color: #222; */
}

.hidden {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

input[type=checkbox]+label {
  color: #ccc;
  font-style: italic;
}

input[type=checkbox]:checked+label {
  color: #f00;
  font-style: normal;
}

input:checked + span {
  background-color: black;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (min-width: 375px) {
  .serious-man-xs {
    background-image: url("./images/serious-black-man.png");
    background-repeat: no-repeat;
    background-size: 65% auto;
    background-position: right bottom;
  }

  .couple-xs {
    background-image: url("./images/couple-xs.png");
    background-repeat: no-repeat;
    background-size: 90% auto;
    background-position: bottom;
  }

  .man-phone-xs {
    background-image: url("./images/man-phone.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    /* background-size: contain; */
    background-position: bottom;
  }

  .woman-phone-xs {
    background-image: url("./images/woman-phone.png");
    background-repeat: no-repeat;
    background-size: 80% auto;
    /* background-size: contain; */
    background-position: bottom right -100px;
  }

}

@media (min-width: 640px) {
  .serious-man-md {
    background-image: url("./images/serious-black-man.png");
    background-repeat: no-repeat;
    background-size: 32% auto;
    background-position: right bottom;
  }

  .couple-md {
    background-image: url("./images/couple-lg.png");
    background-repeat: no-repeat;
    background-size: 32% auto;
    background-position: right bottom;
  }

  .woman-phone-md {
    background-image: url("./images/woman-phone.png");
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: bottom right -100px;
  }
  
}

@media (min-width: 1024px) {

  .serious-man-lg {
    background-image: none;
  }

  .serious-man-full {
    background-image: url("./images/serious-black-man-lg.png");
    background-repeat: no-repeat;
    background-size: 110% auto;
    /* background-size: contain; */
    background-position: center;
  }

  .man-phone-lg {
    background-image: url("./images/man-phone.png");
    background-repeat: no-repeat;
    background-size: 120% auto;
    /* background-size: contain; */
    background-position: bottom;
  }

  .man-phone-none {
    background-image: none;
  }

  .woman-phone-lg {
    background-image: url("./images/woman-phone.png");
    background-repeat: no-repeat;
    background-size: 86% auto;
    /* background-size: contain; */
    background-position: bottom;
  }

  .woman-phone-none {
    background-image: none;
  }

  .couple-none {
    background-image: none;
  }

  .couple-lg {
    background-image: url("./images/couple-lg.png");
    background-repeat: no-repeat;
    background-size: 120% auto;
    /* background-position: right -300px bottom 0px; */
    background-position: right -120px bottom;
  }

  .hands-lg {
    background-image: url("./images/hands.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .insurance-card-lg {
    background-image: url("./images/insurance-card.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .credit-card-lg {
    background-image: url("./images/credit-card.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* select {
  appearance: none;
} */



