@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Capri Sans";
  src: url("./fonts/CapriSans.otf");
}

@font-face {
  font-family: "Osaka Regular";
  src: url("./fonts/Osaka.ttf");
}


@layer base {
  [type="text"] {
    @apply w-full border-figGray-200 bg-figGray-200 p-5 shadow-sm focus:border-figOrange-700 focus:ring-figOrange-700;
  }
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-figGray-200 bg-figGray-200 p-5 shadow-sm focus:border-figOrange-700 focus:ring-figOrange-700;
  }
  [type="checkbox"],
  [type="radio"] {
    @apply border-gray-700 rounded-full text-black;
  }
}